body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

section {
  padding: 20px 0;
}

section > div {
  padding: 14px;
}

paper-button {
  margin: 1em;
  width: 10em;
}

paper-button.colored {
  color: #4285f4;
  fill: #4285f4;
}

paper-button[raisedButton].colored {
  background: #4285f4;
  color: #fff;
}

paper-button[raisedButton].colored #ripple,
paper-button[raisedButton].colored::shadow #ripple {
  color: #2a56c6;
}

paper-button[raisedButton].colored #focusBg,
paper-button[raisedButton].colored::shadow #focusBg {
  background: #3367d6;
}

#navheader {
  background-color: #56BA89;
}
.content {
  padding: 20px;
}